<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <iframe src="https://versa.betteruptime.com/badge?theme=dark" width="250" height="30" frameborder="0" scrolling="no"></iframe>
  </div>
  <strong
    >Géré </i> par <a target="_blank" href="https://versa.heimdallhost.com:3265">DACBGrp.</a></strong
  >

</footer>
